
.tier {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #3f56fe;

    &:hover {
        cursor: pointer;
    }
}

.tier-label {
    flex: 1;
    padding: 10px 5px;
    color: #ffffff;
    border-bottom: 1px solid #fff;
    background-color: #000;
    
    font-family: 'Oswald';
    font-size: 24px;
    letter-spacing: 1px;
}
.tier-titles {
    max-width: 300px;
    flex: 5;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px 5px;
    border-bottom: 1px solid #fff;
}

.title {
    img {
        height: 50px;
        width: 50px;
        border-radius: 100%;
        object-fit: cover;

        &.active {
            border: 3px solid #ff202c;
        }
        &:hover {
            opacity: 0.5;
        }
    
    }
}